<!-- <h1>The has to be the last one ffs</h1>
<hinv-rooms></hinv-rooms>

<hinv-container>
  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>
  <h1>this is from ng content </h1>
</hinv-container>

<div #name></div> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    Welcome User
  </div>
  <div *ngSwitchCase="'Admin'">
    <hinv-rooms></hinv-rooms>

  </div>
  <div *ngSwitchDefault>
    Your are not authorised to view this page
  </div>
</div> -->

<!-- <div>
  <ng-template #user></ng-template>
</div> -->
<!-- <a [routerLink]="'rooms'">rooms</a>
<a [routerLink]="'employee'">Employee</a> -->
<hinv-app-nav></hinv-app-nav>
<!-- <router-outlet></router-outlet> -->